## Create DataFrame from DB

In [1]:
from utils.database_operations import DatabaseOperations

db_operations = DatabaseOperations()

movies_df = db_operations.populate_df()
db_operations.close_session()

In [ ]:
movies_df[['actors', 'movie_id']]

## Save main Dataframe from DB

In [ ]:
movies_df.to_csv('data\\csv_from_db\\movies_df.csv', index=False)

## Load main Dataframe from DB

In [ ]:
import pandas as pd

movies_df = pd.read_csv('data\\csv_from_db\\movies_df.csv')

In [148]:
movies_df.columns

Index(['movie_id', 'budget', 'original_language', 'title', 'overview',
       'popularity', 'release_date', 'revenue', 'runtime', 'tagline',
       'vote_average', 'vote_count', 'genres', 'collection', 'actors',
       'directors', 'producers', 'composers', 'screenplays', 'keywords',
       'production_company', 'production_country', 'spoken_languages'],
      dtype='object')

## Which movies qualify to be recommended

In [149]:
"""Using popularity and vote_count to decide which movies qualify to be in the system"""
movies_df['popularity'].describe()

count    45430.000000
mean         2.921206
std          6.006708
min          0.000000
25%          0.385872
50%          1.127238
75%          3.678128
max        547.488298
Name: popularity, dtype: float64

In [150]:
movies_df['vote_count'].describe()

count    45430.000000
mean       109.935989
std        491.466335
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [151]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.distplot(movies_df['popularity'])
plt.show()

sns.distplot(movies_df['vote_count'])
plt.show()

In [152]:
min_vote_count = movies_df['vote_count'].quantile(q=0.9)

In [153]:
min_popularity = movies_df['popularity'].quantile(q=0.75)

In [154]:
qualified_movies_df = movies_df[((movies_df['vote_count'] >= min_vote_count) & (movies_df['vote_count'].notnull()) |
                                 (movies_df['popularity'] >= min_popularity) & (movies_df['popularity'].notnull()))]

## Save qualified movies CSV

In [155]:
qualified_movies_df.to_csv('data\\processed_movies\\qualified_movies.csv', index=False)

## Load qualified movies CSV

In [156]:
import pandas as pd

qualified_movies_df = pd.read_csv('data\\processed_movies\\qualified_movies.csv')

In [157]:
qualified_movies_df[qualified_movies_df['title'] == 'The Godfather'][qualified_movies_df.columns[:13]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>movie_id</th>
      <th>budget</th>
      <th>original_language</th>
      <th>title</th>
      <th>overview</th>
      <th>popularity</th>
      <th>release_date</th>
      <th>revenue</th>
      <th>runtime</th>
      <th>tagline</th>
      <th>vote_average</th>
      <th>vote_count</th>
      <th>genres</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>165</th>
      <td>238</td>
      <td>6000000</td>
      <td>en</td>
      <td>The Godfather</td>
      <td>Spanning the years 1945 to 1955, a chronicle o...</td>
      <td>41.109264</td>
      <td>1972-03-14</td>
      <td>245066411.0</td>
      <td>175.0</td>
      <td>An offer you can't refuse.</td>
      <td>8.5</td>
      <td>6024.0</td>
      <td>['Drama', 'Crime']</td>
    </tr>
  </tbody>
</table>
</div>

In [158]:
qualified_movies_df[qualified_movies_df['title'] == 'The Godfather'][qualified_movies_df.columns[13:]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>collection</th>
      <th>actors</th>
      <th>directors</th>
      <th>producers</th>
      <th>composers</th>
      <th>screenplays</th>
      <th>keywords</th>
      <th>production_company</th>
      <th>production_country</th>
      <th>spoken_languages</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>165</th>
      <td>The Godfather Collection</td>
      <td>['Marlon Brando_0', 'Al Pacino_1', 'James Caan...</td>
      <td>['Francis Ford Coppola']</td>
      <td>['Albert S. Ruddy']</td>
      <td>['Nino Rota']</td>
      <td>['Francis Ford Coppola', 'Mario Puzo']</td>
      <td>['italy', 'love at first sight', 'loss of fath...</td>
      <td>['Paramount Pictures', 'Alfran Productions']</td>
      <td>['United States of America']</td>
      <td>['en', 'it', 'la']</td>
    </tr>
  </tbody>
</table>
</div>

In [159]:
qualified_movies_df.columns

Index(['movie_id', 'budget', 'original_language', 'title', 'overview',
       'popularity', 'release_date', 'revenue', 'runtime', 'tagline',
       'vote_average', 'vote_count', 'genres', 'collection', 'actors',
       'directors', 'producers', 'composers', 'screenplays', 'keywords',
       'production_company', 'production_country', 'spoken_languages'],
      dtype='object')

## Merge Processed keywords CSV with the Qualified Movies CSV

In [7]:
"""Merge the two dataframes into one and continue processing other attributes"""
import pandas as pd
qualified_movies_df = pd.read_csv('.\\data\\processed_movies\\qualified_movies.csv')

keywords_df = pd.read_csv('.\\data\\nlp\\preprocessed_keywords.csv')

qualified_movies_df = qualified_movies_df.merge(keywords_df, on='movie_id')

In [8]:
qualified_movies_df['preprocessed_keywords'][0]

'+country+ +jail+ +frame+ +helsinki+ +escape+ independent+film +crime+ +start+ +leave+ falling+in+love +commit+ +prison+ +life+ +father+ factory+worker +underdog+ +miner+ +dream+ committed+suicide +thing+ +plan+'

## Process release_date

In [9]:
"""Check Nans in column"""
print("Nans in column release_date before processing: {}".format(qualified_movies_df['release_date'].isnull().sum()))

"""Replace Nans with empty string"""
qualified_movies_df['release_date'] = qualified_movies_df['release_date'].fillna('')

Nans in column release_date before processing: 2

In [10]:
"""Create new column_release_year"""

qualified_movies_df['release_year'] = qualified_movies_df['release_date'].apply(lambda x: x.split('-')[0])

In [11]:
"""show the 2 movies that don't have release year"""
qualified_movies_df[qualified_movies_df['release_year'] == '']['title']

10302                   Ascendant
11069    And Then There Were None
Name: title, dtype: object

In [12]:
"""Create column by decades"""


def group_film_eras(year):
    if year == '':
        return ''
    if int(year) < 1955:
        return 'beginning_to_1955'
    elif 1955 <= int(year) <= 1976:
        return '1955_to_1976'
    elif 1977 <= int(year) < 1990:
        return '1980_to_1990'
    elif 1990 <= int(year) < 2000:
        return '1990_to_2000'
    elif 2000 <= int(year) < 2010:
        return '2000_to_2010'
    else:
        return '2010_till_now'


qualified_movies_df['processed_eras'] = \
    qualified_movies_df['release_year'].apply(lambda x: group_film_eras(x))

In [13]:
dict_of_processed_eras = dict(qualified_movies_df['processed_eras'].value_counts())
dict_of_processed_eras.pop('')

2

In [14]:
import matplotlib.pyplot as plt
plt.pie(dict_of_processed_eras.values(), 
        labels=dict_of_processed_eras.keys(), autopct='%1.0f%%')
plt.title('Процентно съотношение след групиране спрямо година на издаване')
plt.show()

## Process runtime

In [15]:
"""Check Nans in column"""
print("Nans in column release_date before processing: {}".format(qualified_movies_df['runtime'].isnull().sum()))

Nans in column release_date before processing: 0

In [16]:
len(qualified_movies_df[qualified_movies_df['runtime'] == 0])

44

In [17]:
from ast import literal_eval

dict_of_genres_runtimes = dict()

for index, row in qualified_movies_df.iterrows():
    if isinstance(row['genres'], str):
        list_of_genres = literal_eval(row['genres'])
        for genre in list_of_genres:
            if genre in dict_of_genres_runtimes.keys():
                dict_of_genres_runtimes[genre].append(row['runtime'])
            else:
                dict_of_genres_runtimes[genre] = [row['runtime']]

In [18]:
dict_of_genre_avg_runtime = dict()
for genre in dict_of_genres_runtimes.keys():
    dict_of_genre_avg_runtime[genre] = round(sum(dict_of_genres_runtimes[genre]) / len(dict_of_genres_runtimes[genre]),
                                             2)

"""sort by average runtime"""
list_of_genre_avg_runtime = sorted(dict_of_genre_avg_runtime.items(), key=lambda kv: kv[1])
for item in list_of_genre_avg_runtime:
    print(item)

('Animation', 77.59)
('Family', 90.35)
('TV Movie', 92.82)
('Horror', 95.9)
('Comedy', 98.56)
('Foreign', 100.92)
('Science Fiction', 101.9)
('Documentary', 102.26)
('Fantasy', 103.49)
('Thriller', 104.61)
('Action', 106.83)
('Mystery', 106.94)
('Crime', 107.01)
('Music', 107.44)
('Adventure', 107.53)
('Romance', 108.45)
('Drama', 111.21)
('Western', 111.28)
('War', 127.35)
('History', 131.07)

Plots and grouping

In [19]:
def runtime_into_three_main_groups(runtime):
    if runtime == 0:
        return ''
    if runtime < 100:
        return 'runtime_under_100'
    elif 100 <= runtime < 110:
        return 'runtime_100_to_110'
    else:
        return 'runtime_above_110'

"""I will group the runtimes by runtime_under_100, runtime_100_to_110, runtime_above_110"""
qualified_movies_df['processed_runtime'] = \
    qualified_movies_df['runtime'].apply(lambda x: runtime_into_three_main_groups(x))

In [20]:
dict_of_processed_runtime = dict(qualified_movies_df['processed_runtime'].value_counts())
dict_of_processed_runtime.pop('')

44

In [21]:
import matplotlib.pyplot as plt
plt.pie(dict_of_processed_runtime.values(), 
        labels=dict_of_processed_runtime.keys(), autopct='%1.0f%%')
plt.title('Ratio of movies after grouping into categories by runtime')
plt.show()

## Process actors, producers, directors, screenplays, composers, genres

In [22]:
from ast import literal_eval
import string

def process_actors(str_obj_list, top_n_actors=3):
    if not isinstance(str_obj_list, str):
        return ''

    list_of_res = []
    for actor in literal_eval(str_obj_list):
        actor_name = actor.split('_')[0]
        actor_name = actor_name.translate(str.maketrans('', '', string.punctuation))
        list_of_res.append('actor' + actor_name.replace(' ', ''))
        if len(list_of_res) == top_n_actors:
            break
    return ' '.join(list_of_res)


def process_producers_directors_screenplays_composers_genres(str_obj_list, keyword=''):
    if not isinstance(str_obj_list, str):
        if keyword != 'composer':
            return ''
        else:
            return 'no_composer_available'

    list_of_res = []
    for item in literal_eval(str_obj_list):
        item = item.translate(str.maketrans('', '', string.punctuation))
        list_of_res.append(keyword + item.replace(' ', ''))

    return ' '.join(list_of_res)

In [23]:
qualified_movies_df['processed_actors'] = qualified_movies_df['actors'].apply(lambda x: process_actors(x))
qualified_movies_df['processed_genres'] = \
    qualified_movies_df['genres'].apply(lambda x: process_producers_directors_screenplays_composers_genres(x, 'genre'))
qualified_movies_df['processed_producers'] = \
    qualified_movies_df['producers'].apply(lambda x: process_producers_directors_screenplays_composers_genres(x, 'producer'))
qualified_movies_df['processed_directors'] = \
    qualified_movies_df['directors'].apply(lambda x: process_producers_directors_screenplays_composers_genres(x, 'director'))
qualified_movies_df['processed_screenplays'] = \
    qualified_movies_df['screenplays'].apply(lambda x: process_producers_directors_screenplays_composers_genres(x, 'screenplay'))
qualified_movies_df['processed_composers'] = \
    qualified_movies_df['composers'].apply(lambda x: process_producers_directors_screenplays_composers_genres(x, 'composer'))

In [24]:
qualified_movies_df[['processed_actors', 'processed_genres', 'processed_producers', 'processed_directors', 'processed_screenplays', 'processed_composers']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>processed_actors</th>
      <th>processed_genres</th>
      <th>processed_producers</th>
      <th>processed_directors</th>
      <th>processed_screenplays</th>
      <th>processed_composers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>actorTuroPajala actorSusannaHaavisto actorMatt...</td>
      <td>genreDrama genreCrime</td>
      <td></td>
      <td>directorAkiKaurismäki</td>
      <td>screenplayAkiKaurismäki</td>
      <td>no_composer_available</td>
    </tr>
    <tr>
      <th>1</th>
      <td>actorTimRoth actorAntonioBanderas actorJennife...</td>
      <td>genreCrime genreComedy</td>
      <td>producerLawrenceBender</td>
      <td>directorAllisonAnders directorAlexandreRockwel...</td>
      <td></td>
      <td>composerCombustibleEdison</td>
    </tr>
    <tr>
      <th>2</th>
      <td>actorEmilioEstevez actorCubaGoodingJr actorDen...</td>
      <td>genreAction genreThriller genreCrime</td>
      <td>producerGeneLevy</td>
      <td>directorStephenHopkins</td>
      <td>screenplayLewisColick</td>
      <td>composerAlanSilvestri</td>
    </tr>
    <tr>
      <th>3</th>
      <td>actorMarkHamill actorHarrisonFord actorCarrieF...</td>
      <td>genreAdventure genreAction genreScienceFiction</td>
      <td>producerGaryKurtz producerRickMcCallum</td>
      <td>directorGeorgeLucas</td>
      <td></td>
      <td>composerJohnWilliams</td>
    </tr>
    <tr>
      <th>4</th>
      <td>actorAlbertBrooks actorEllenDeGeneres actorAle...</td>
      <td>genreAnimation genreFamily</td>
      <td>producerGrahamWalters</td>
      <td>directorAndrewStanton</td>
      <td>screenplayAndrewStanton screenplayBobPeterson ...</td>
      <td>composerThomasNewman</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>11392</th>
      <td>actorAnnaHarr actorMarkGrossman actorPhyllisSp...</td>
      <td>genreAdventure genreScienceFiction</td>
      <td></td>
      <td>directorNicoleJonesDion</td>
      <td></td>
      <td>no_composer_available</td>
    </tr>
    <tr>
      <th>11393</th>
      <td>actorGreyGriffin actorTaraStrong actorAnaisFai...</td>
      <td>genreAnimation</td>
      <td>producerRickMorales</td>
      <td>directorToddGrimes</td>
      <td></td>
      <td>no_composer_available</td>
    </tr>
    <tr>
      <th>11394</th>
      <td>actorAntonioBanderas actorBenKingsley actorLia...</td>
      <td>genreAction</td>
      <td>producerJeffreyGreenstein producerGisellaMaren...</td>
      <td>directorAlainDesrochers</td>
      <td>screenplayJohnSullivan</td>
      <td>no_composer_available</td>
    </tr>
    <tr>
      <th>11395</th>
      <td>actorAdriannePalicki actorMichaelJaiWhite acto...</td>
      <td>genreAction genreCrime genreThriller</td>
      <td>producerNealHMoritz producerVickiSotheran prod...</td>
      <td>directorTonyGiglio</td>
      <td></td>
      <td>no_composer_available</td>
    </tr>
    <tr>
      <th>11396</th>
      <td>actorAdamRayner actorElizaDushku actorIanOgilvy</td>
      <td>genreAction genreAdventure genreCrime</td>
      <td></td>
      <td>directorErnieBarbarash</td>
      <td></td>
      <td>no_composer_available</td>
    </tr>
  </tbody>
</table>
<p>11397 rows × 6 columns</p>
</div>

In [25]:
print("Empty strings in composers: {}".format(len(qualified_movies_df[qualified_movies_df['processed_composers'] == ''])))
print("Empty strings in actors: {}".format(len(qualified_movies_df[qualified_movies_df['processed_actors'] == ''])))
print("Empty strings in producers: {}".format(len(qualified_movies_df[qualified_movies_df['processed_producers'] == ''])))
print("Empty strings in directors: {}".format(len(qualified_movies_df[qualified_movies_df['processed_directors'] == ''])))
print("Empty strings in genres: {}".format(len(qualified_movies_df[qualified_movies_df['processed_genres'] == ''])))
print("Empty strings in screenplays: {}".format(len(qualified_movies_df[qualified_movies_df['processed_screenplays'] == ''])))

Empty strings in composers: 0
Empty strings in actors: 32
Empty strings in producers: 2600
Empty strings in directors: 12
Empty strings in genres: 6
Empty strings in screenplays: 4880

In [31]:
qualified_movies_df[qualified_movies_df['title']==
                    'The Lord of the Rings: The Fellowship of the Ring']['keywords'].values

array(["['elves', 'dwarves', 'orcs', 'middle-earth (tolkien)', 'hobbit', 'based on novel', 'mountain', 'fireworks', 'castle', 'volcano', 'password', 'death of a friend', 'uncle', 'mirror', 'wizard', 'sword and sorcery']"],
      dtype=object)

## Process producton_company

In [19]:
"""Create dictionary with key: genre and value dictionary of production company 
and occurences for the particular genre """

from ast import literal_eval

dict_of_genres_prod_company = dict()

for index, row in qualified_movies_df.iterrows():
    if isinstance(row['genres'], str):
        list_of_genres = literal_eval(row['genres'])
        for genre in list_of_genres:
            if isinstance(row['production_company'], str):
                list_of_prod_company = literal_eval(row['production_company'])
                for prod_company in list_of_prod_company:
                    if genre in dict_of_genres_prod_company.keys():
                        if prod_company in dict_of_genres_prod_company[genre].keys():
                            dict_of_genres_prod_company[genre][prod_company] += 1
                        else:
                            dict_of_genres_prod_company[genre][prod_company] = 1
                    else:
                        dict_of_genres_prod_company[genre] = {prod_company: 1}

In [20]:
"""Print the top 5 production companies per genre"""

for genre in dict_of_genres_prod_company.keys():
    print('top 5 companies for genre: {}'.format(genre))
    print(sorted(dict_of_genres_prod_company[genre].items(), key=lambda kv: kv[1], reverse=True)[:5])
    print('----------------------')

top 5 companies for genre: Drama
[('Warner Bros.', 309), ('Paramount Pictures', 224), ('Universal Pictures', 211), ('Twentieth Century Fox Film Corporation', 188), ('Columbia Pictures', 136)]
----------------------
top 5 companies for genre: Crime
[('Warner Bros.', 150), ('Universal Pictures', 95), ('Paramount Pictures', 78), ('Twentieth Century Fox Film Corporation', 57), ('Columbia Pictures', 47)]
----------------------
top 5 companies for genre: Comedy
[('Universal Pictures', 248), ('Paramount Pictures', 202), ('Warner Bros.', 196), ('Twentieth Century Fox Film Corporation', 173), ('Columbia Pictures', 133)]
----------------------
top 5 companies for genre: Action
[('Warner Bros.', 193), ('Universal Pictures', 151), ('Twentieth Century Fox Film Corporation', 140), ('Paramount Pictures', 132), ('Columbia Pictures', 89)]
----------------------
top 5 companies for genre: Thriller
[('Warner Bros.', 191), ('Universal Pictures', 156), ('Paramount Pictures', 147), ('Twentieth Century Fox Film Corporation', 117), ('Metro-Goldwyn-Mayer (MGM)', 77)]
----------------------
top 5 companies for genre: Adventure
[('Warner Bros.', 138), ('Paramount Pictures', 104), ('Universal Pictures', 95), ('Walt Disney Pictures', 94), ('Twentieth Century Fox Film Corporation', 93)]
----------------------
top 5 companies for genre: Science Fiction
[('Twentieth Century Fox Film Corporation', 79), ('Paramount Pictures', 70), ('Warner Bros.', 61), ('Universal Pictures', 59), ('New Line Cinema', 34)]
----------------------
top 5 companies for genre: Animation
[('Walt Disney Pictures', 88), ('Pixar Animation Studios', 50), ('DreamWorks Animation', 46), ('Warner Bros. Animation', 43), ('DC Comics', 33)]
----------------------
top 5 companies for genre: Family
[('Walt Disney Pictures', 174), ('Universal Pictures', 59), ('Twentieth Century Fox Film Corporation', 58), ('Warner Bros.', 54), ('Pixar Animation Studios', 43)]
----------------------
top 5 companies for genre: Romance
[('Paramount Pictures', 106), ('Warner Bros.', 105), ('Universal Pictures', 98), ('Metro-Goldwyn-Mayer (MGM)', 74), ('Twentieth Century Fox Film Corporation', 73)]
----------------------
top 5 companies for genre: Mystery
[('Warner Bros.', 69), ('Paramount Pictures', 54), ('Universal Pictures', 46), ('Metro-Goldwyn-Mayer (MGM)', 28), ('Twentieth Century Fox Film Corporation', 24)]
----------------------
top 5 companies for genre: Music
[('Warner Bros.', 24), ('Paramount Pictures', 24), ('Metro-Goldwyn-Mayer (MGM)', 24), ('Universal Pictures', 22), ('Twentieth Century Fox Film Corporation', 13)]
----------------------
top 5 companies for genre: Horror
[('Universal Pictures', 77), ('New Line Cinema', 49), ('Dimension Films', 48), ('Warner Bros.', 41), ('Paramount Pictures', 40)]
----------------------
top 5 companies for genre: Fantasy
[('Warner Bros.', 88), ('Universal Pictures', 58), ('Walt Disney Pictures', 53), ('Twentieth Century Fox Film Corporation', 50), ('Columbia Pictures', 31)]
----------------------
top 5 companies for genre: War
[('Warner Bros.', 22), ('Twentieth Century Fox Film Corporation', 18), ('Universal Pictures', 14), ('Paramount Pictures', 13), ('Metro-Goldwyn-Mayer (MGM)', 13)]
----------------------
top 5 companies for genre: Western
[('Warner Bros.', 24), ('Paramount Pictures', 19), ('Twentieth Century Fox Film Corporation', 18), ('United Artists', 15), ('Metro-Goldwyn-Mayer (MGM)', 13)]
----------------------
top 5 companies for genre: History
[('Warner Bros.', 22), ('Universal Pictures', 22), ('Twentieth Century Fox Film Corporation', 19), ('Paramount Pictures', 15), ('Canal+', 14)]
----------------------
top 5 companies for genre: Documentary
[('Participant Media', 6), ('Canal+', 5), ('Paramount Pictures', 4), ('BBC', 4), ('Jigsaw Productions', 4)]
----------------------
top 5 companies for genre: TV Movie
[('Disney Channel', 14), ('HBO Films', 6), ('Home Box Office (HBO)', 5), ('British Broadcasting Corporation (BBC)', 4), ('Hallmark Entertainment', 3)]
----------------------
top 5 companies for genre: Foreign
[('Gateway Films', 2), ('Imar Film Co., Ltd.', 1), ('Yash Raj Films', 1), ('Zentropa Entertainments', 1), ('Shotgun Pictures', 1)]
----------------------

## Process spoken_languages and production_country

In [21]:
qualified_movies_df[['spoken_languages', 'production_country']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>spoken_languages</th>
      <th>production_country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>['fi', 'de']</td>
      <td>['Finland']</td>
    </tr>
    <tr>
      <th>1</th>
      <td>['en']</td>
      <td>['United States of America']</td>
    </tr>
    <tr>
      <th>2</th>
      <td>['en']</td>
      <td>['Japan', 'United States of America']</td>
    </tr>
    <tr>
      <th>3</th>
      <td>['en']</td>
      <td>['United States of America']</td>
    </tr>
    <tr>
      <th>4</th>
      <td>['en']</td>
      <td>['United States of America']</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>11392</th>
      <td>['en', 'pt']</td>
      <td>['United States of America']</td>
    </tr>
    <tr>
      <th>11393</th>
      <td>['en', 'pl', 'pt']</td>
      <td>['United States of America']</td>
    </tr>
    <tr>
      <th>11394</th>
      <td>['en']</td>
      <td>['United States of America']</td>
    </tr>
    <tr>
      <th>11395</th>
      <td>['en']</td>
      <td>['United States of America']</td>
    </tr>
    <tr>
      <th>11396</th>
      <td>['en', 'pt']</td>
      <td>['United States of America']</td>
    </tr>
  </tbody>
</table>
<p>11397 rows × 2 columns</p>
</div>

In [23]:
dict_of_languages_count = dict()
dict_of_country_count = dict()

for index, row in qualified_movies_df.iterrows():
    if isinstance(row['spoken_languages'], str):
        list_of_spoken_langs = literal_eval(row['spoken_languages'])
        for lang in list_of_spoken_langs:
            if lang in dict_of_languages_count.keys():
                dict_of_languages_count[lang] += 1
            else:
                dict_of_languages_count[lang] = 1
    if isinstance(row['production_country'], str):
        list_of_prod_countries = literal_eval(row['production_country'])
        for country in list_of_prod_countries:
            if country in dict_of_country_count.keys():
                dict_of_country_count[country] += 1
            else:
                dict_of_country_count[country] = 1

In [24]:
print('Top 10 production countries: {}'.format(sorted(dict_of_country_count.items(), key=lambda kv: kv[1], reverse=True)[:10]))
print('-----------------------------')
print('Top 10 spoken languages: {}'.format(sorted(dict_of_languages_count.items(), key=lambda kv: kv[1], reverse=True)[:10]))

Top 10 production countries: [('United States of America', 8128), ('United Kingdom', 1538), ('France', 1140), ('Germany', 700), ('Canada', 584), ('Italy', 431), ('Japan', 336), ('Spain', 247), ('Australia', 230), ('Hong Kong', 174)]
-----------------------------
Top 10 spoken languages: [('en', 9836), ('fr', 1353), ('es', 807), ('de', 720), ('it', 611), ('ja', 400), ('ru', 376), ('zh', 222), ('pt', 166), ('cn', 146)]

In [25]:
dict_of_genres_spoken_langs = dict()

for index, row in qualified_movies_df.iterrows():
    if isinstance(row['genres'], str):
        list_of_genres = literal_eval(row['genres'])
        for genre in list_of_genres:
            if isinstance(row['spoken_languages'], str):
                list_of_spoken_langs = literal_eval(row['spoken_languages'])
                for lang in list_of_spoken_langs:
                    if genre in dict_of_genres_spoken_langs.keys():
                        if lang in dict_of_genres_spoken_langs[genre].keys():
                            dict_of_genres_spoken_langs[genre][lang] += 1
                        else:
                            dict_of_genres_spoken_langs[genre][lang] = 1
                    else:
                        dict_of_genres_spoken_langs[genre] = {lang: 1}

In [27]:
"""Print the top 5 spoken languages per genre"""

for genre in dict_of_genres_spoken_langs.keys():
    print('top 5 spoken languages for genre: {}'.format(genre))
    print(sorted(dict_of_genres_spoken_langs[genre].items(), key=lambda kv: kv[1], reverse=True)[:10])
    print('----------------------')

top 5 spoken languages for genre: Drama
[('en', 4602), ('fr', 735), ('es', 407), ('de', 405), ('it', 298), ('ja', 186), ('ru', 182), ('zh', 114), ('ar', 95), ('ko', 71)]
----------------------
top 5 spoken languages for genre: Crime
[('en', 1441), ('fr', 188), ('es', 173), ('it', 101), ('de', 76), ('ru', 66), ('zh', 57), ('cn', 49), ('ja', 41), ('ar', 26)]
----------------------
top 5 spoken languages for genre: Comedy
[('en', 3401), ('fr', 500), ('es', 246), ('it', 234), ('de', 205), ('ru', 100), ('ja', 64), ('pt', 63), ('cn', 52), ('zh', 50)]
----------------------
top 5 spoken languages for genre: Action
[('en', 2230), ('fr', 246), ('es', 230), ('de', 186), ('ja', 180), ('zh', 144), ('ru', 138), ('it', 116), ('cn', 105), ('ar', 53)]
----------------------
top 5 spoken languages for genre: Thriller
[('en', 2811), ('fr', 313), ('es', 272), ('de', 201), ('ru', 140), ('it', 135), ('ja', 94), ('zh', 67), ('cn', 63), ('ar', 57)]
----------------------
top 5 spoken languages for genre: Adventure
[('en', 1428), ('fr', 184), ('es', 119), ('de', 109), ('ja', 81), ('it', 78), ('ru', 71), ('zh', 56), ('pt', 37), ('ar', 35)]
----------------------
top 5 spoken languages for genre: Science Fiction
[('en', 1083), ('fr', 91), ('ja', 81), ('es', 61), ('de', 56), ('ru', 47), ('it', 29), ('zh', 16), ('ko', 13), ('pt', 12)]
----------------------
top 5 spoken languages for genre: Animation
[('en', 593), ('ja', 135), ('fr', 58), ('es', 36), ('de', 19), ('it', 17), ('pt', 17), ('da', 16), ('xx', 10), ('th', 9)]
----------------------
top 5 spoken languages for genre: Family
[('en', 1027), ('fr', 103), ('es', 42), ('de', 41), ('it', 35), ('ja', 25), ('ru', 18), ('pt', 17), ('da', 17), ('th', 12)]
----------------------
top 5 spoken languages for genre: Romance
[('en', 1690), ('fr', 310), ('es', 145), ('de', 120), ('it', 113), ('ru', 61), ('hi', 40), ('ja', 36), ('pt', 32), ('zh', 25)]
----------------------
top 5 spoken languages for genre: Mystery
[('en', 781), ('fr', 106), ('es', 58), ('de', 47), ('it', 42), ('ru', 30), ('ja', 29), ('zh', 16), ('sv', 13), ('pl', 12)]
----------------------
top 5 spoken languages for genre: Music
[('en', 351), ('fr', 39), ('it', 22), ('es', 17), ('ru', 10), ('de', 10), ('pt', 5), ('hu', 5), ('cn', 3), ('nl', 3)]
----------------------
top 5 spoken languages for genre: Horror
[('en', 1407), ('fr', 98), ('de', 83), ('es', 83), ('it', 76), ('ja', 52), ('pl', 34), ('ru', 32), ('cs', 19), ('pt', 18)]
----------------------
top 5 spoken languages for genre: Fantasy
[('en', 839), ('fr', 97), ('ja', 66), ('de', 51), ('es', 49), ('it', 39), ('ru', 26), ('zh', 22), ('pt', 20), ('cn', 12)]
----------------------
top 5 spoken languages for genre: War
[('en', 307), ('de', 104), ('fr', 76), ('ru', 43), ('es', 25), ('ja', 23), ('it', 21), ('ar', 20), ('zh', 14), ('la', 13)]
----------------------
top 5 spoken languages for genre: Western
[('en', 216), ('es', 52), ('it', 22), ('fr', 19), ('de', 14), ('ru', 4), ('nv', 2), ('zh', 2), ('nl', 2), ('pl', 2)]
----------------------
top 5 spoken languages for genre: History
[('en', 364), ('de', 90), ('fr', 85), ('es', 47), ('ru', 39), ('ja', 34), ('zh', 28), ('it', 25), ('la', 20), ('ar', 19)]
----------------------
top 5 spoken languages for genre: Documentary
[('en', 200), ('fr', 33), ('de', 16), ('es', 14), ('pt', 8), ('ru', 7), ('it', 6), ('ar', 5), ('fa', 3), ('zh', 3)]
----------------------
top 5 spoken languages for genre: TV Movie
[('en', 126), ('fr', 8), ('de', 4), ('it', 4), ('es', 3), ('pt', 3), ('pl', 2), ('hu', 1), ('zh', 1), ('ru', 1)]
----------------------
top 5 spoken languages for genre: Foreign
[('en', 9), ('zh', 3), ('fr', 2), ('es', 1), ('hi', 1), ('da', 1)]
----------------------

## Combine all features that we will use

In [77]:
qualified_movies_df.fillna('', inplace=True)

In [78]:
qualified_movies_df['all_metadata'] = qualified_movies_df['processed_runtime'] + ' ' \
                                      + qualified_movies_df['processed_eras'] + ' ' \
                                      + qualified_movies_df['processed_actors'] + ' ' \
                                      + qualified_movies_df['processed_composers'] + ' ' \
                                      + qualified_movies_df['processed_producers'] + ' ' \
                                      + qualified_movies_df['processed_directors'] + ' ' \
                                      + qualified_movies_df['processed_screenplays'] + ' ' \
                                      + qualified_movies_df['processed_genres'] + ' ' \
                                      + qualified_movies_df['preprocessed_keywords']

In [79]:
"""Example all_metadata for The Godfather"""
qualified_movies_df[qualified_movies_df['title'].isin(['The Godfather'])]['all_metadata'].values[0]

'runtime_above_110 1955_to_1976 actorMarlonBrando actorAlPacino actorJamesCaan composerNinoRota producerAlbertSRuddy directorFrancisFordCoppola screenplayFrancisFordCoppola screenplayMarioPuzo genreDrama genreCrime +revenge+ +1940+ +power+ +1945+ mob+boss +mafia+ youngest+son +campaign+ +lawyer+ love+at+first+sight +italy+ +chronicle+ +launch+ +span+ +attempt+ +fiction+ +1955+ organized+crime +killer+ +rise+ loss+of+father +patriarch+ +life+ +care+ italian+american +italian+ +bloody+ crime+family'

In [69]:
qualified_movies_df.isnull().sum()

movie_id                 0
budget                   0
original_language        0
title                    0
overview                 0
popularity               0
release_date             0
revenue                  0
runtime                  0
tagline                  0
vote_average             0
vote_count               0
genres                   0
collection               0
actors                   0
directors                0
producers                0
composers                0
screenplays              0
keywords                 0
production_company       0
production_country       0
spoken_languages         0
preprocessed_keywords    0
release_year             0
processed_eras           0
processed_runtime        0
processed_actors         0
processed_genres         0
processed_producers      0
processed_directors      0
processed_screenplays    0
processed_composers      0
all_metadata             0
dtype: int64

## Update column "qualify" in DB table "movies"

In [2]:
list_of_movie_ids = list(qualified_movies_df['movie_id'].values)

In [3]:
from utils.database_operations import DatabaseOperations

db_operations = DatabaseOperations()
db_operations.update_qualified_movies(list_of_movie_ids)
db_operations.close_session()

## Save qualified_movies_df

In [80]:
qualified_movies_df.to_csv('.\\data\\processed_movies\\qualified_all_metadata.csv', index=False)

In [1]:
import pandas as pd

qualified_movies_df = pd.read_csv('data\\processed_movies\\qualified_movies.csv')

## We will continue in movie_similarity_based_system.ipynb